@charset "utf-8";
html, body,iframe,
h1, h2, h3, h4, h5, h6, p,ol, ul ,form,dl ,dd,td,input,table,tr{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", SimHei, "Microsoft JhengHei", "STHeiti ";
}
img{
    border: none;
}
/* HTML5 display-role reset for older browsers */
article,footer, header, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{ text-decoration:none;outline:none;}
/************tools css************/
/****定义有边框的表格*****/
.border-table{
    border-collapse: separate;
    background: #ffffff;
    width: 100%;
    border: 1px solid #dddddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.border-table td{
    border-style:solid;
    border-width:1px 0px 0px 1px;
    border-color: #dddddd;
}
.border-table tr:first-child td{
    border-top: none;
}
.border-table tr td:first-child{
    border-left:none;
}
/****清除浮动*****/
.clearFix:before,.clearFix:after,.ui-content:after{
    content:"";
    display:table;
}
.clearFix:after,.ui-content:after{
    clear:both
}
.clearFix{*zoom:1}
/******多列布局********/
.ui-row:after{
    display: table;
    clear: both;
    content:"";
}
.ui-row>[class*="col-"],.ui-row>li{
    float: left;
}
body{
    background-color: #eee;
    min-width: 1200px;
}
/******************设置定义页面内容区域的宽度**********************/
.ui-content{
    width: 1200px;
    margin: 0 auto;
}
/***********************************************/
header{
    background: #ffffff;
}
.ui-header{
    padding: 10px 0;
}
.logo-box{
    float: left;
    width: 40px;
    height: 40px;
}
.logo-link{
    width: 100%;
    height: 100%;
}
.logo-link img{
    width: 100%;
    height: 100%;
}
.header-nav {
    float: left;
    margin-left: 40px;
}
.header-nav li{
    margin-right: 10px;
}
.header-nav li a{
    display: inline-block;
    font-size: 14px;
    color: #444444;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    border-radius: 7px;
}
.header-nav li a:hover{
    background: #f2f2f2;
    color: #3a8ee6;
}
.header-nav li a.active{
    color: #3a8ee6;
}
/***************footer底部样式*****************/
.ui-footer{
    background-color: #eee;
    padding: 40px 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    min-width: 1200px;
}
.coBox:after{
    display: table;
    content: "";
    clear: both;
}
.coBox{
    width: 571px;
    margin: 0 auto;
}
.coBox>li{
    float: left;
    padding: 0 30px;
}
.coBox>li:first-child{
    height: 124px;
    border-right: 1px solid #ccc;
}
.myWeChatBox{
    text-align: center;
}
.myWeChatBox img{
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.myWeChatBox img:first-child{
    margin-right: 30px;
}
.contactMeBox{
    width: 180px;
    margin: 0 auto;
    padding-top: 25px;
}
.contactMeBox p{
    font-size: 14px;
    color: #666;
    line-height: 24px;
}
.contactMeBox p.title{
    font-weight: bold;
    color: #666;
    font-size: 16px;
}
.contactMeBox p.tag{
    font-weight: bold;
}
.contactMeBox p.tag a{
    color: #666;
    font-size: 14px;
    font-weight: normal;
}
.bottomBox{
    font-size: 12px;
    color: #666;
    line-height: 28px;
    text-align: center;
    margin-top: 10px;
}
.player-content-box{
    padding: 15px 0;
}
#chatBox{
    margin-top: 0;
    box-shadow: 0 0 3px 1px #ccc;
}
/***************************/
.index-section .ui-content{
    margin-top: 20px;
}
.content-left{
    float: left;
    width: 860px;
    background: #ffffff;
}
.content-right{
    float: left;
    width: 320px;
    margin-left: 20px;
}
.right-card{
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 15px;
}
.right-card:first-child{
    margin-top: 0;
}
.right-card .card-title{
    font-size: 14px;
    color: #444444;
    font-weight: bold;
    line-height: 30px;
    border-bottom: 1px solid #dedede;
}
/************************/
.article-box{
    padding: 20px;
}
.article-box .articleTitle{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}
.article-box p{
    text-indent: 2rem;
    font-size: 14px;
    line-height: 25px;
    color: #666666;
    margin-top: 10px;
}
/**************个人站点导航****************/
.nav-card{
    padding-top: 10px;
}
.nav-card li{
    width: 33.33333%;
}
.nav-card li a{
    display: block;
    margin: 5px;
    padding: 5px 10px;
    background: #e5edff;
    border-radius: 7px;
    font-size: 14px;
    color: #909399;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 25px;
    height: 25px;
}
.nav-card li a:hover{
    background: #EBEEF5;
    color: #409EFF;
}
/******************二维码工具************************/
.qrcode-card{
    padding: 15px 0;
}
.qrcode-card .qrcode-text{
    display: block;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
    color: #444444;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}
.qrcode-cav{
    width: 220px;
    height: 220px;
    background: #e5edff;
    border-radius: 4px;
    margin: 0 auto;
    padding: 15px;
}
/******************天气************************/
.weather-card{
    background-color: #fff;
    text-align: center;
    color: #333;
    padding: 15px 0;
}
.base-info{
    line-height: 32px;
}
.weather-date,.weather-info,.wind-temp{
    line-height: 28px;
}
.wind-temp{
    color: #ff7471;
}
.query-city{
    font-size: 28px;
    color: #333;
    font-weight: bold;
    margin-right: 10px;
}
.pm-number{
    font-size: 20px;
    color: #4d86ff;
}
.weather-info span:first-child{
    margin-right: 15px;
}
/**********************/
.ui-loadImg{
    display: block;
    width: 60px;
    height: 15px;
    margin: 15px auto;
}
/**************************/
.nav-section{
    margin: 20px auto;
}
.nav-section .ui-content{
    background: #ffffff;
}
.type-title{
    font-size: 16px;
    color: #7c7c7c;
    font-weight: bold;
    line-height: 40px;
    padding: 0 10px;
}
.ui-navItem{
    width: 211px;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #e5edff;
    cursor: pointer;
    border-radius: 3px;
    float: left;
    text-decoration: none;
}
.ui-navItem:after,.ui-navList:after,.ui-tabBox:after{
    display: table;
    content: "";
    clear: both;
}
.ui-navLogo{
    float: left;
    padding: 10px;
}
.ui-navLogo img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 4px;
}
.ui-navInfo{
    margin-left: 70px;
    padding: 10px 0;
}
.ui-navInfo div{
    line-height: 25px;
    height: 25px;
}
.ui-navName{
    font-size: 14px;
    color: #606266;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.ui-navDesc{
    font-size: 12px;
    color: #909399;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.ui-navItem:hover{
    background: #EBEEF5;
}
.ui-navItem:hover .ui-navName{
    color: #409EFF;
}
.ui-tabBox{
    margin-bottom: 15px;
}
.ui-tabBox .ui-tabItem{
    float: left;
    font-size: 14px;
    padding: 10px 15px;
    border-bottom: 2px solid #bcbec2;
    color: #606266;
    cursor: pointer;
}
.ui-tabBox .ui-tabItem.active,.ui-tabBox .ui-tabItem:hover{
    border-bottom: 2px solid #409EFF;
    color: #409EFF;
}
.ui-content-body{
    padding: 15px;
}
/**********关于我*************/
.resume-box{
    width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    position: relative;
}
.resume-content{
    padding: 15px;
}
.resume-title{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    color: #333;
}
.resume-section{
    padding: 0 15px;
}
.resume-section .section-header{
    font-size: 18px;
    color: #666;
    line-height: 40px;
    text-indent: 1em;
    border-bottom: 1px solid #ddd;
}
.resume-baseInfo{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    color: #666666;
}
.resume-baseInfo td{
    padding: 10px;
}
.pramas-col{
    width: 6em;
    text-align: right;
}
.express-card{
    padding: 15px 0;
}
.express-row{
    margin-bottom: 5px;
}
.express-row:after{
    display: table;
    clear: both;
    content: '';
}
.express-row .row-tag{
    width: 6em;
    float: left;
    text-align: right;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    font-weight: bold;
}
.row-content{
    margin-left: 6rem;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
}
.row-content span{
    margin-left: 15px;
    font-size: 12px;
}
.row-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.row-list li{
    font-size: 15px;
    color: #666666;
    line-height: 32px;
    padding-left: 15px;
}
.resume-article{
    font-size: 15px;
    color: #666666;
    line-height: 32px;
    padding: 15px;
}
.aboutMe{
    font-size: 15px;
    color: #666666;
    line-height: 32px;
    padding-left: 15px;
}
/************api接口调用*************/
.api_page{
    margin-top: 20px;
}
.api_page .content-body{
    padding: 15px;
}
.api_page .ui-content{
    background: #ffffff;
}
.ui-form-group:after,.demo-form-inline:after{
    display: table;
    content: "";
    clear: both;
}
.ui-form-group{
    float: left;
    margin-right: 10px;
}
.ui-form-group label{
    display: block;
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #5a5e66;
    line-height: 40px;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ui-form-input{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d8dce5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #5a5e66;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 1;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 217px;
}
.ui-form-input:focus{
    border-color: #3a8ee6;
}
.ui-form-element{
    float: left;
}
.ui-border-table{
    width: 100%;
    margin-top: 15px;
}
.ui-border-table td{
    border: 1px solid #e6ebf5;
    padding: 10px 15px;
    font-size: 14px;
    color: #878d99;
}
.ui-border-table thead td{
    font-weight: bold;
}
.postform{
    margin-top: 15px;
}